<h1>Hello Guyz.</h1>
<p>
  This is Sadman Ahmed and you are welcome to my new pet project ,a blog site. Hope I will make it a better one in a few days. Keep connected
</p>

<%= link_to 'Articles listing', articles_path %> |

<%= link_to 'About page', about_path %>
