<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-black-300">
      <h1 class="display-5">Abir Blog</h1>
      <p class="lead fontss">Hello Guyz.This is Sadman Ahmed and you are welcome to my new pet project ,a blog site. </p>
      <hr class="my-4">
      <p>Hope I will make it a better one in a few days. Keep connected</p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-danger btn-lg bg-dark" %>
      <p>For testing purpose use email: abirssc7@gmail.com ,pass: abirssc7. Thanks</p>
    </div>
  </div>
</div>


