<footer id="sticky-footer" class="py-4 bg-dark text-white">
<div class="container text-center">
    <small>LinkedIn &copy; <%= link_to "Md. Sadman Ahmed", "https://www.linkedin.com/in/md-sadman-ahmed/", class: "text-white" %></small><br>


    <small>Gihub &copy; <%= link_to "sadmanahmed", "https://github.com/sadmanahmed", class: "text-white" %></small>
  </div>
</footer>
